<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
</head>
<body>
<h1>Admin Dashboard</h1>
<a href="/admin/addProduct">Add Product</a>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.brand}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.quantity}"></td>
  </tr>
</table>
</body>
</html>