<!DOCTYPE html>
<html class="h-full bg-slate-800">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Login</title>
</head>

<body class="h-full max-w-full">
<div class="min-h-full">
    <!-- Nav Bar fragment insert -->
    <div th:insert="~{fragments/nav-bar :: navBar(${currentUser}, ${pageType})}"></div>


    <header class="bg-white shadow mb-3">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">My Details</h1>
        </div>
    </header>

    <!-- ERROR -->
    <div class="border-l-4 border-yellow-400 bg-yellow-50 p-4 mb-4 z-30" th:if="${error}">
        <div class="flex">
            <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm text-yellow-700" th:text="${error}"></p>
            </div>
        </div>
    </div>
    <!-- ERROR-->

    <!-- SUCCESS MESSAGE -->
    <div class="rounded-md bg-green-50 p-4 mb-4" th:if="${success}">
        <div class="flex">
            <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-green-800" th:text="${success}"></p>
            </div>
            <div class="ml-auto pl-3">
                <div class="-mx-1.5 -my-1.5">
                    <button type="button"
                            class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
                        <span class="sr-only">Dismiss</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- SUCCESS MESSAGE-->

    <main class="w-full">
        <div class="w-full">
            <form th:action="@{/user-dashboard/me/updateUser}" method="get" th:object="${user}" class="flex justify-center items-center w-full pt-5 pl-20 pr-20">
                <div class=" w-4/5 p-4 mt-5 mr-10 ml-10 bg-white border border-gray-200 rounded-lg shadow">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-base font-semibold leading-7 text-gray-900">User Information</h3>
                        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal Details and Login Information.</p>
                    </div>

                     <div class="mt-6 border-t border-gray-100">
                        <dl class="divide-y divide-gray-100">

                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm font-medium leading-6 text-gray-900">ID</dt>
                                <dd th:text="${currentUser.uid}" class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"></dd>
                                <input type="hidden" th:name="uid" th:value="${currentUser.uid}" name="uid"/>
                            </div>
                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
                                <input value="Lois Clinton" readonly class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"></input>
                            </div>
                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
                                <input th:name="email" th:value="${currentUser.email}" class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"></input>
                            </div>
                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm font-medium leading-6 text-gray-900">Password</dt>
                                <input th:name="password" th:value="${currentUser.password}" class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"></input>
                            </div>
                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm font-medium leading-6 text-gray-900">User Account Type</dt>
                                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                                    <li class="flex items-center">
                                        <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                        </svg>
                                        <span th:text="${currentUser.userType}" class="text-sm font-normal leading-tight text-gray-500 ms-3"></span>
                                    </li>
                                </dd>
                                <input type="hidden" th:name="userType" th:value="${currentUser.userType}"/>
                            </div>
                        </dl>
                     </div>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Update Details</button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>