<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <title>Admin Dashboard</title>
</head>
<body class="h-full max-w-full">
<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 bg">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-red-500 hover:bg-gray-900 hover:text-red-600">Logout</a>
            <!-- place for logo image -->
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">

              <!-- Not current -->
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Product Dashboard</a>
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page"> User Dashboard</a>
              <!-- Not current -->
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Shop Page</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block ml-10 flex space-x-2 flex-row">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="relative ml-3">
                <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" >
                  <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
    </div>
  </header>

  <main>
    <div class="mx-auto max-w-full px-4 py-6 sm:px-6 lg:px-8">
      <!-- Your content -->

      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Add a new Product</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Add a new product to the collection.</p>
        <form action="#" th:action="@{/admin/addProduct}" method="post" th:object="${product}">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label class="block text-sm font-medium leading-6 text-gray-900">Product name</label>
            <div class="mt-2">
              <input type="text" th:field="*{name}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label class="block text-sm font-medium leading-6 text-gray-900">Brand</label>
            <div class="mt-2">
              <input type="text" th:field="*{brand}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="col-span-full">
            <label class="block text-sm font-medium leading-6 text-gray-900">Image URL</label>
            <div class="mt-2">
              <input type="text" th:field="*{imageUrl}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label class="block text-sm font-medium leading-6 text-gray-900">Price</label>
            <div class="mt-2">
              <input type="text" th:field="*{price}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label class="block text-sm font-medium leading-6 text-gray-900">Quantity</label>
            <div class="mt-2">
              <input type="text" th:field="*{quantity}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            </div>
          </div>
        </div>
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="reset"  value="Reset" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <button type="submit" value="Add Product" name="mySubmitButton" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save Product</button>
          </div>
        </form>
      </div>


      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class=" pb-4 bg-gray-900" style="padding:15px;">
          <h2 class="text-base font-semibold leading-7 text-white">Current Products in Stock:</h2>
          <p class="mt-1 text-sm leading-6 text-gray-300">Search, Edit & Delete Products from here.</p>
          <br />
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mt-1">
            <div class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
              <svg class="h-4 w-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="table-search" class="block w-80 rounded-lg border ps-10 pt-2 text-sm focus:ring-blue-500 border-gray-600 bg-gray-700 text-white placeholder-gray-400 focus:border-blue-500" placeholder="Search for items" />
          </div>
        </div>
        <table class="w-full text-left text-sm rtl:text-right text-gray-400">
          <thead class="text-xs uppercase bg-gray-700 text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">Product name</th>
            <th scope="col" class="px-6 py-3">Image</th>
            <th scope="col" class="px-6 py-3">Brand</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">Quantity</th>
            <th scope="col" class="px-6 py-3">Update</th>
            <th scope="col" class="px-6 py-3">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="product : ${products}" class="border-b  border-gray-700 bg-gray-800 hover:bg-gray-600">
            <form action="#" th:action="@{/admin/updateProduct}" method="get" th:object="${product}">
            <td class="px-6 py-4">
              <input type="text" th:name="pid" th:value="${product.pid}" class="w-10 border-b rounded-md border-gray-700 bg-gray-800 hover:bg-gray-600" readonly/>
            </td>
            <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-white">
              <input type="text" th:name="name" th:value="${product.name}" class="border-b rounded-md border-gray-700 bg-gray-800 hover:bg-gray-600"/>
            </th>
            <td class="px-6 py-4">
              <div>
              <img th:src="${product.imageUrl}" th:name="imageUrl" th:value="${product.imageUrl}" style="width: 150px;height: 150px;"/>
              </div>
            </td>
            <td class="px-6 py-4">
              <input type="text" th:name="brand" th:value="${product.brand}" class="w-28 rounded-md border-b  border-gray-700 bg-gray-800 hover:bg-gray-600"/>
            </td>
            <td class="px-6 py-4">
              <input type="text" th:name="price" th:value="${product.price}" class="w-20 border-b rounded-md border-gray-700 bg-gray-800 hover:bg-gray-600"/>
            </td>
            <td class="px-6 py-4">
              <input type="text" th:name="quantity" th:value="${product.quantity}" class="w-20 border-b rounded-md border-gray-700 bg-gray-800 hover:bg-gray-600"/>
            </td>
            <td class="px-6 py-4">
              <button type="submit" class="font-medium hover:underline text-blue-500">Update</button>
            </td>
            <td class="px-6 py-4">
              <a th:href="@{/admin/deleteProduct(pid=${product.pid})}" class="font-medium hover:underline text-red-600">Delete</a>
            </td>
            </form>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
</body>
</html>
